.top-5{
    margin-top: 5px; 
}
.top-10{
    margin-top: 10px; 
}

.top-20{
    margin-top: 20px; 
}
.top-40{
    margin-top: 40px;
}

.top-50{
    margin-top: 50px; 
}
.top-90{
    margin-top:90px;
}
.top-35{
    margin-top:35px;
}
.top-30{
    margin-top:30px;
}

.margin-left-100{
    margin-left: 100px;
}

.margin-left-150{
    margin-left: 150px;
}

.width-150{
    width: 150px;
}

.text-center{
    text-align: center;
}

.p-login-signup{
    font-size: 15px;
    margin-left: 45px;
}
.pad0{
    padding:0;
}