.top-10{
    margin-top: 10px; 
}

.top-20{
    margin-top: 20px; 
}

.top-10{
    margin-top: 10px; 
}

.margin-left-100{
    margin-left: 100px;
}

.margin-left-150{
    margin-left: 150px;
}

.width-150{
    width: 150px;
}