body{
    // background:#e5e6e8;
    background:#ffffff;
}
.topTime{
    height:100px;
}
.mainKeys .sixBoxes{
    line-height: 55px;
    height: 161px;
    width: 273px;
    border:1px solid;   
    margin: 0 auto;   
    position: relative;
    border-radius: 11px;
    box-shadow: 0 0 22px 0 hsla(0,0%,75%,.5);
    background-color: #fff;
    border:0;
}
.sixBoxes::after{
    content: '';
    position: absolute;
    left: 95px;
    height: 2px;
    width: 90px;
    background: #29abe2;
    top: 57px;

}
.mainKeys .firstRow{
    margin-bottom:50px;
    margin-top:30px;
}
.mainKeys .col-md-4{
    text-align: center;
}
.swipeBtn{
    text-align: center;
}
.swipeBtn button{
    font-size: 19px;
    padding: 6px 56px;
    border-radius: 3px;
    background: #51a351;
    border-color: #51a351;
}
.mainKeys .sixBoxes h3{
    color: #333;
    // color:#4d4d4d;
    font-size: 19px;
    line-height: 76px;
    border-radius: 20px 20px 0px 0px;
}
.mainKeys .sixBoxes h5{
    line-height: 56px;
    font-size: 25px;
    font-weight: bold;
    color:#333;
}

@media only screen  and (max-width:470px) {
    .mainKeys .sixBoxes{
        margin-bottom:20px;
        height: 71px;
        width: 247px;

    }
    .mainKeys .firstRow{
        margin-bottom: 0;
    }
    .mainKeys .sixBoxes h3{
        padding-top:15px;
        line-height: 0;
    }
    .mainKeys .sixBoxes h5{
        font-size: 17px;
        font-weight: 400;
    }
}