p,h2{
    font-family: sans-serif;
}

.loginScreen{
    margin-top:4%;
}
.loginForm{
    width: 51%;
    margin-left: 36%;
}
.loginForm form{
    border-radius: 13px;
    padding: 69px 0 21px;
    height:68vh;
    text-align: center;
    border: 0;
    background-image: linear-gradient(125deg,#3b3b98 40%,#7d2fb7);
}
.loginForm form img{
    position: absolute;
    width: 14%;
    left: 151px;
    top: 34px;
    filter: invert(100%);
}
.loginForm form h2{
    text-align: center;
    color:#ffffff;
    letter-spacing: 4px;
    font-family: sans-serif;
}
.inputText {
    width: 72%;
    border: 0;
    font-size: 12px;
    border-bottom: 1px solid;
    margin-left: 13%;
    background: transparent;
    color: #ffffff;
    border-radius:0;
    font-family: monospace;
    padding-left: 35px;
    font-family: sans-serif;
    letter-spacing: 1.3px;
    border: 1px solid;
    border-radius: 4px; 
}
.inputText:focus{
    background: transparent;
    box-shadow: none;
    color: #fff;
    font-family: monospace;
}
.inputPassword:focus{
    background: transparent;
    box-shadow: none;
    color: #fff;
    font-family: monospace;
}
.inputPassword{
    width: 72%;
    padding-left: 35px;
    border-radius: 0;
    border: 0;
    font-size: 12px;
    border-bottom: 1px solid;
    margin-left: 13%;
    background: transparent;
    color: #ffffff; 
    font-family: monospace;
    font-family: sans-serif;
    letter-spacing: 1.3px;
    border: 1px solid;
    border-radius: 4px;
}
.signUpLink .p-login-signup{
    margin-left:0;
}
::placeholder{
    color:#ffffff!important;
}
.loginForm form .userIcon{
    color: #ffffff;
    font-size: 31px;
    margin-bottom: 21px;
}
.inputIcon{
    position: relative;
}
.inputIcon .glyphicon{
    position: absolute;
    left: 48px;
    top: 3px;
    color: #ffffff;
    border-right: 1px solid;
    padding-right: 8px;
    line-height: 2;
}
.signUpLink .p-login-signup a{
    color:#ffffff;
}
.signUpLink .p-login-signup a:hover{
    color:#007bff;
    text-decoration: none;
}
.formHead{
    position: absolute;
    left: 33%;
    top: 5vh;
    font-size: 27px;
    color: #ffffff;
}


@media only screen and (max-width:768px) and (min-width:561px){
    .mainContainer{
        height:100vh!important;
        padding:0;
        overflow-x: hidden;
        overflow-y: hidden;
        background-image: linear-gradient(125deg,#3b3b98 40%,#7d2fb7);
        height:100%;    
    }
    .inputIcon .glyphicon{
        left:69px;
        top:2px;
        line-height: 3;
    }
    .inputText{
        height:33px;
    }
    .inputPassword{
        height:33px;
    }
    .buttonBlue {
        margin-top:20px;
    }
    .loginForm form{
        background:transparent;
        width: 59%;
        margin: 0 auto;
        padding-top: 50px!important;
    }
    .loginForm{
        margin-left:0;
        width:100%
    }
    .loginForm .col-md-6{
        max-width:100%;
    }
    .loginForm form h2{
        margin-bottom:65px;
    }
    .formHead{
        color:#ffffff;
        font-family: sans-serif;
        font-size:26px;
        text-align: center;
        left: 42%;
        top: -6px;
    }

}
// @media only screen and (max-width: 768px) 
@media only screen  and (max-width:470px) {
    .loginForm{
        width: 100%;
        margin-left: 0%;
        background: transparent;
    }
    .loginForm form img{
        left:127px;
    }
    .mainContainer{
        height:100vh;
        padding:0;
        overflow-x: hidden;
        overflow-y: hidden;
        background-image: linear-gradient(125deg,#3b3b98 40%,#7d2fb7);
    }
    .loginScreen{
        margin-top:0;
        margin-right: -15px;
        margin-left: -15px;
    }
    .loginForm .col-md-6{
        padding:0;
        width: 91%;
        margin: 0 auto;
        // max-width:100%;
        // width:100%;
    }
    .loginForm form{
        border-radius: 0;
        padding-right: 5px;
        // height:95vh;
        height:100%;
        padding-top: 100px;
    }
    .loginForm .loginDetails{
        margin-top:90px;
        width: 146%;
    }
    .inputIcon{
        margin-left: 9%;
        width: 75%;
        position: relative;
    }
    .inputText{
        height: 36px;
        font-size: 15px;
        border-radius: 7px;
        margin-left:0;
    }
    .inputPassword{
        height: 36px;
        font-size: 15px;
        border-radius: 7px;
        margin-left:0;
    }
    .inputIcon .glyphicon{
        line-height: 2.6;
        left: 8px;
        top: 3px;
        font-size: 12px;
    }
    .buttonBlue button{
        width:47%;
        font-size: 18px;
        background: #fff;
        color: #000;
        border-radius: 22px;
        height: 44px;
        border: 0;
    }
    .signUpLink .p-login-signup{
        margin-top:20px;
        font-size: 19px;
    }
    .loginForm form .userIcon{
        font-size: 43px;
    }
    .formHead{
        position: absolute;
        letter-spacing: 4px;
        left: 127px;
        top: 29px;
        font-size: 27px;
        color: #fff;
    }
}

    
  