@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import 'basic.scss';
@import 'loader.scss';
@import 'modal.scss';
@import 'navbar.scss';
@import 'login.scss';
@import 'home.scss';
@import 'sideBar.scss';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  // font-family: 'Ubuntu', sans-serif;
  font-family: 'Lato', Arial, Tahoma sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

